.wr-video-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wr-video-banner.ratio-16x9 {
    padding-top: 56.25%;
}

.wr-video-banner.ratio-9x16 {
    padding-top: 177.77%;
}

.wr-video-banner iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}
